
.login-page, .register-page {

  background-image:url("../images/fondo.jpg");
  background-size: 100% 100%, cover;
  position: absolute;
  height: 100%;
  width: 100%;
}


.mister-house-handsontable {
  width:100%;
}






