<!-- begin #dasboard -->
<div ng-include src="'views/template/header.html'">
</div>
<div ng-include src="'views/template/sidebar.html'">
  </div>
<div ng-include src="'views/template/page.html'" >
</div>
<!-- end #dasboard -->



