<header class="main-header" ng-controller="headerController">
  <!-- Logo -->
  <a ui-href="app" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>SA</b>C</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Comerci</b>antes</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
            <img ng-src="{{currentUsuario.picture}}"  onerror="this.src='images/default.gif'" class="user-image" alt="User Image">
            <span class="hidden-xs">{{currentUsuario.username}}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img ng-src="{{currentUsuario.picture}}" onerror="this.src='images/default.gif'" class="img-circle" alt="User Image">

              <p>
                <small>Usuario : </small>
                {{currentUsuario.usuario.nombre}}
                <small>Cuenta De Usuario : </small>
                {{currentUsuario.username}}
                <small>Cédula : </small>
                {{currentUsuario.usuario.cedula}}

              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <p class="text-center">{{currentUsuario.usuario.rol.nombre}}</p>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-right">
                <a href="javascript:;" class="btn btn-default btn-flat" ng-click="logOut()">Cerrar Sesión</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </nav>
</header>
