<!--<style>-->
  <!--.load {-->
    <!--position: absolute;-->
    <!--margin: 50px auto;-->
    <!--width: 100px;-->
    <!--height: 80px;-->
    <!--top: 30%;-->
    <!--left: 45%;-->
    <!--right: 45%;-->
  <!--}-->

  <!--.gear {-->
    <!--position: absolute;-->
    <!--z-index: -10;-->
    <!--width: 40px;-->
    <!--height: 40px;-->
    <!-- -webkit-animation: spin 5s infinite;-->
    <!--animation: spin 5s infinite;-->
  <!--}-->

  <!--.two {-->
    <!--left: 40px;-->
    <!--width: 80px;-->
    <!--height: 80px;-->
    <!-- -webkit-animation: spin-reverse 5s infinite;-->
    <!--animation: spin-reverse 5s infinite;-->
  <!--}-->

  <!--.three {-->
    <!--top: 45px;-->
    <!--left: -10px;-->
    <!--width: 60px;-->
    <!--height: 60px;-->
  <!--}-->

  <!--@-webkit-keyframes spin {-->
    <!--50% {-->
      <!-- -webkit-transform: rotate(360deg);-->
      <!--transform: rotate(360deg);-->
    <!--}-->
  <!--}-->

  <!--@keyframes spin {-->
    <!--50% {-->
      <!-- -webkit-transform: rotate(360deg);-->
      <!--transform: rotate(360deg);-->
    <!--}-->
  <!--}-->

  <!--@-webkit-keyframes spin-reverse {-->
    <!--50% {-->
      <!-- -webkit-transform: rotate(-360deg);-->
      <!--transform: rotate(-360deg);-->
    <!--}-->
  <!--}-->

  <!--@keyframes spin-reverse {-->
    <!--50% {-->
      <!-- -webkit-transform: rotate(-360deg);-->
      <!--transform: rotate(-360deg);-->
    <!--}-->
  <!--}-->

  <!--.lil-circle {-->
    <!--position: absolute;-->
    <!--border-radius: 50%;-->
    <!--box-shadow: inset 0 0 10px 2px gray, 0 0 50px white;-->
    <!--width: 100px;-->
    <!--height: 100px;-->
    <!--opacity: 0.8;-->
  <!--}-->

  <!--.blur-circle {-->
    <!--position: absolute;-->
    <!--top: -19px;-->
    <!--left: -19px;-->
  <!--}-->

  <!--.text {-->
    <!--position: absolute;-->
    <!--color: black;-->
    <!--font-size: 30px;-->
    <!--font-family: 'Open Sans', sans-serif;-->
    <!--text-align: center;-->
    <!--top: 60%;-->
    <!--width: 100%;-->

  <!--}-->

<!--</style>-->
<!--<div class="load">-->
  <!--<div class="gear one">-->
    <!--<svg viewbox="0 0 100 100" fill="#666666">-->
      <!--<path-->
        <!--d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z"></path>-->
    <!--</svg>-->
  <!--</div>-->
  <!--<div class="gear two">-->
    <!--<svg viewbox="0 0 100 100" fill="#0072BA">-->
      <!--<path-->
        <!--d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z"></path>-->
    <!--</svg>-->
  <!--</div>-->
  <!--<div class="gear three">-->
    <!--<svg viewbox="0 0 100 100" fill="#DC143C">-->
      <!--<path-->
        <!--d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z"></path>-->
    <!--</svg>-->
  <!--</div>-->
<!--</div>-->
<style>
  .ui.inverted.dimmer .ui.loader:after {
    border-color: #2185d0 #2185d0 #d81e36 #d81e36;
  }
</style>
<div class="ui page inverted dimmer">
  <div class="ui large text loader">{{text}}</div>
</div>


