<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" ng-show="modal.option.close">
        <span aria-hidden="true">X</span>
      </button>
      <h4 class="modal-title">{{modal.title}}</h4>
    </div>
    <div class="modal-body ng-transclude">

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="modal.close()">Cancelar</button>
      <button type="button" class="btn btn-primary" ng-click="modal.save()">Save changes</button>
    </div>
  </div>
</div>
