<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" ng-controller="sidebarController">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <div class="user-panel" style="height: 80px">
      <div class="pull-left image">
        <img ng-src="{{getLogo(currentEmpresa.uuid)}}" onerror="this.src='images/default.gif'" class="img-circle" alt="User Image" style="width: 40px; height: 40px">
      </div>
      <div class="pull-left info">
        <p>
        <small>{{currentEmpresa.nombre}}</small>
        <br>
        <small></i> NIT : {{currentEmpresa.nit}}</small><br>
          <small></i> {{currentEmpresa.tipo.nombre}}</small>
        </p>
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">Navegación Principal</li>
      <li ng-show="permissions.usuarios" class="treeview">
        <a ui-sref="app.usuarios">
          <i class="fa fa-users"></i>
          <span>Usuarios</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li ng-show="permissions.empresas.show" class="treeview">
        <a>
          <i class="fa fa-briefcase"></i>
          <span>Empresas</span>
          <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ><a ui-sref="app.empresa"><i class="fa fa-circle-o"></i>{{permissions.empresas.tipo}}</a></li>
        </ul>
      </li>
      <li ng-show="permissions.gestiondedatos" class="treeview">
        <a ui-sref="app.administracion">
          <i class="fa fa-gg"></i> <span>Gestión De Datos</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
      </li>
      <li ng-show="permissions.reporte.crear" class="treeview">
        <a >
          <i class="fa fa-lightbulb-o"></i> <span>Reportes</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
          <li ><a ui-sref="app.crearReportes"><i class="fa fa-circle-o"></i>Crear</a></li>
          <li ng-show="permissions.reporte.listar"><a ui-sref="app.reportes"><i class="fa fa-circle-o"></i>Listar</a></li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
