<section class="content-header">
  <uib-alert
    ng-repeat="alert in alerts"
    type="{{alert.type}}"
    dismiss-on-timeout="5000"
    close="alerts.splice($index, 1);"
    style=" position:fixed;z-index: 9000;width: 50%;text-align: center;right: 25%;">{{alert.msg}}
  </uib-alert>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{page.title}}</h3>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="ui fluid small action input">
                    <input type="text" placeholder="Buscar por {{attrId}}"
                           ng-model="filterValue" ng-change="changeFilter()">
                    <button type="submit" class="ui icon button blue" ng-Click="filter()">
                      <i class="search icon"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <div class="btn-group pull-right ">
                  <button ng- ng-repeat="button in page.buttons" ng-show="callFunction(button.show)" type="button"
                          class="btn btn-default"
                          title="{{button.title}}"
                          ng-click="callFunction(button.action,button.action.param)"
                  >
                    <i class="fa {{button.icon}} fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 table-responsive" style="margin-top:20px;">
            <table class="table table-bordered">
              <tbody>
              <tr class="text-center">
                <th>Logo</th>
                <th>Tipo de Empresa</th>
                <th>Nombre</th>
                <th>Nit</th>
                <th>Teléfono</th>
                <th>Usuario Administrador</th>
                <th>Operaciones</th>
              </tr>
              <tr ng-repeat=" empresa in data">
                <td><img class="img-circle" style="width: 50px;height: 50px;display: block; margin: auto;"
                         ng-src="{{getLogo(empresa.uuid)}}" onerror="this.src='http://placehold.it/150x150'"></td>
                <td>{{empresa.tipo.nombre}}</td>
                <td>{{empresa.nombre}}</td>
                <td>{{empresa.nit}}</td>
                <td>{{empresa.telefono}}</td>
                <td>
                  <b>Nombre:</b> {{empresa.usuarios[0].nombre}}
                  <br>
                  <b>Cedúla:</b> {{empresa.usuarios[0].cedula}}
                  <br>
                  <b>Rol:</b> {{empresa.usuarios[0].rol.nombre}}
                  <br>
                </td>
                <td>
                  <div class="col-sm-12">

                    <h6 class="dropdown-header">Empresa</h6>
                    <button ng-click="openEditarEmpresa($index)" class="btn btn-flat btn-default"><i
                      class="fa fa-edit fa-sm"></i>
                      Editar
                    </button>
                    <button ng-click="delete(empresa.uuid)" class="btn btn-flat btn-danger"><i
                      class="fa fa-remove fa-sm"></i>
                      Eliminar
                    </button>
                    <h6 class="dropdown-header">Administrador Principal</h6>
                    <button ng-show="validarCrearUsuarioAdministrador($index)" ng-click="openCrearAdministrador($index)"
                            class="btn btn-flat btn-primary"><i class="fa fa-user-plus fa-sm"></i> Crear
                    </button>
                    <button ng-show="!validarCrearUsuarioAdministrador($index)"
                            ng-click="openEditarAdministrador($index)" class="btn btn-flat btn-default"><i
                      class="fa fa-edit fa-sm"></i>
                      Editar
                    </button>
                    <button ng-show="!validarCrearUsuarioAdministrador($index)"
                            ng-click="deleteAdministrador(empresa.usuarios[0].uuid)" class="btn btn-flat btn-danger"><i
                      class="fa fa-user-times fa-sm"></i>
                      Eliminar
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/ng-template" id="validacionDatos.html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Información de errores de datos</h4>
      </div>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th>Mensaje</th>
        </tr>
        <tr ng-repeat="error in errorValidation">
          <td>{{error.error}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-flat btn-primary" ng-click="cancelModalError()">Aceptar</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="crearUsuario.html">
  <form class="form-horizontal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{page.modal.create.title}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombre" class="col-sm-2 control-label">nombre</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newData.nombre" class="form-control" id="nombre"
                     placeholder="Digite el nombre completo">
            </div>
          </div>
          <div class="form-group">
            <label for="cedula" class="col-sm-2 control-label">Cedula</label>
            <div class="col-sm-10">
              <input type="number" ng-model="newData.cedula" class="form-control" id="cedula"
                     placeholder="Digite el número de cedula">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">password</label>
            <div class="col-sm-10">
              <input type="password" ng-model="newData.password" class="form-control" id="password"
                     placeholder="digite la contraseña">
            </div>
          </div>

          <div class="form-group">
            <label for="rol" class="col-sm-2 control-label">rol</label>

            <div class="col-sm-10">
              <input type="text" ng-model="newData.rol" class="form-control" id="rol"
                     placeholder="Digite el rol del usuario">
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
        <button class="btn btn-flat btn-primary" ng-click="addNewData()">Aceptar</button>
      </div>
    </div>
  </form>
  </div>
</script>

<script type="text/ng-template" id="crearEmpresa.html">
  <form class="form-horizontal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{page.modal.create.title}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreEmpresa" class="col-sm-2 control-label">nombre</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newData.nombre" class="form-control" id="nombreEmpresa"
                     placeholder="Digite el nombre completo de la empresa">
            </div>
          </div>
          <div class="form-group">
            <label for="nit" class="col-sm-2 control-label">NIT</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newData.nit" class="form-control" id="nit" placeholder="Digite el nit">
            </div>
          </div>
          <div class="form-group">
            <label for="telefonoEmpresa" class="col-sm-2 control-label">Teléfono</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newData.telefono" class="form-control" id="telefonoEmpresa"
                     placeholder="digite El numero de telefono">
            </div>
          </div>
          <div class="form-group">
            <label for="telefonoEmpresa" class="col-sm-2 control-label">Logo</label>
            <div class="col-sm-10">
              <input type="file" accept="image/png,image/jpeg" ng-file-select="onFileSelect($files)">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <div class="box box-solid">
                <div class="box-header with-border bg-black">
                  <h3 class="box-title">Previsualización de logo</h3>
                </div>
                <div class="box-body text-center" bg-gray>
                  <i ng-hide="imageSrc">No hay archivo de imagen seleccionado</i>
                  <img class=" img-circle" style="width: 150px;height: 150px" ng-src="{{imageSrc}}"
                       onerror="this.src='http://placehold.it/150x150'"/><br/></div>
              </div>
            </div>
            <div class="col-sm-3"></div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
        <button class="btn btn-flat btn-primary" ng-click="save()">Aceptar</button>
      </div>
    </div>
  </form>
  </div>
</script>

<script type="text/ng-template" id="editarEmpresa.html">
  <form class="form-horizontal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">{{page.modal.edit.title}}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nombreEmpresa" class="col-sm-2 control-label">nombre</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editData.nombre" class="form-control" id="nombreEmpresa"
                     placeholder="Digite el nombre completo de la empresa">
            </div>
          </div>
          <div class="form-group">
            <label for="nit" class="col-sm-2 control-label">NIT</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editData.nit" class="form-control" id="nit" placeholder="Digite el nit">
            </div>
          </div>
          <div class="form-group">
            <label for="telefonoEmpresa" class="col-sm-2 control-label">Teléfono</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editData.telefono" class="form-control" id="telefonoEmpresa"
                     placeholder="digite El numero de telefono">
            </div>
          </div>
          <div class="form-group">
            <label for="telefonoEmpresa" class="col-sm-2 control-label">Logo</label>
            <div class="col-sm-10">
              <input type="file" accept="image/png,image/jpeg" ng-file-select="onFileSelect($files)">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
              <div class="box box-solid">
                <div class="box-header with-border bg-black">
                  <h3 class="box-title">Previsualización de logo</h3>
                </div>
                <div class="box-body text-center" bg-gray>
                  <i ng-hide="imageSrc">No hay archivo de imagen seleccionado</i>
                  <img class=" img-circle" style="width: 150px;height: 150px" ng-src="{{imageSrc}}"
                       onerror="this.src='http://placehold.it/150x150'"/><br/></div>
              </div>
            </div>
            <div class="col-sm-3"></div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
        <button class="btn btn-flat btn-primary" ng-click="update()">Guardar</button>
      </div>
    </div>
  </form>
  </div>
</script>

<script type="text/ng-template" id="crearAdministrador.html">
  <form class="form-horizontal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Crear Usuario Administrador Principal</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="nombreUsuarioAdmin" class="col-sm-2 control-label">Nombre de Usuario</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newAdmin.usuario.nombre" class="form-control" id="nombreUsuarioAdmin"
                     placeholder="Digite el nombre completo del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="cedulaUsuarioAdmin" class="col-sm-2 control-label">Cédula</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newAdmin.usuario.cedula" class="form-control" id="cedulaUsuarioAdmin"
                     placeholder="Digite el número de cédula del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="usernameAdmin" class="col-sm-2 control-label">Nombre de la cuenta</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newAdmin.username" class="form-control" id="usernameAdmin"
                     placeholder="Digite el nombre de la cuenta de usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="newAdmin.password" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Confirmar Contraeña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="newAdmin.passwordValidate" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
        <button class="btn btn-flat btn-primary" ng-click="saveAdministrador()">Aceptar</button>
      </div>
    </div>
  </form>
  </div>
</script>

<script type="text/ng-template" id="editarAdministrador.html">
  <form class="form-horizontal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Editar Usuario Administrador Principal</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="nombreUsuarioAdmin" class="col-sm-2 control-label">Nombre de Usuario</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editAdmin.usuario.nombre" class="form-control" id="nombreUsuarioAdmin"
                     placeholder="Digite el nombre completo del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="cedulaUsuarioAdmin" class="col-sm-2 control-label">Cédula</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editAdmin.usuario.cedula" class="form-control" id="cedulaUsuarioAdmin"
                     placeholder="Digite el número de cédula del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="usernameAdmin" class="col-sm-2 control-label">Nombre de la cuenta</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editAdmin.username" class="form-control" id="usernameAdmin"
                     placeholder="Digite el nombre de la cuenta de usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="editAdmin.password" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Confirmar Contraeña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="editAdmin.passwordValidate" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="rolAdmin" class="col-sm-2 control-label">Rol</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editAdmin.usuario.rol.nombre" class="form-control" id="roldAdmin" disabled>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
        <button class="btn btn-flat btn-primary" ng-click="updateAdministrador()">Aceptar</button>
      </div>
    </div>
  </form>
  </div>
</script>
