<section class="content-header">
  <uib-alert
    ng-repeat="alert in alerts"
    type="{{alert.type}}"
    dismiss-on-timeout="5000"
    close="alerts.splice($index, 1);"
    style=" position: fixed;z-index: 9000;width: 50%;text-align: center;right: 25%;">{{alert.msg}}
  </uib-alert>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">{{page.title}}</h3>
        </div>
        <div class="box-body">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <form>
                  <div class="ui fluid small action input">
                    <input type="text" placeholder="Buscar por {{attrId}}"
                           ng-model="filterValue" ng-change="changeFilter()">
                    <button type="submit" class="ui icon button blue" ng-Click="filter()">
                      <i class="search icon"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <div class="btn-group pull-right ">
                  <button ng- ng-repeat="button in page.buttons" ng-show="callFunction(button.show)" type="button"
                          class="btn btn-default"
                          title="{{button.title}}"
                          ng-click="callFunction(button.action,button.action.param)"
                  >
                    <i class="fa {{button.icon}} fa-lg"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 table-responsive" style="margin-top:20px;">
            <table class="table table-bordered">
              <tbody>
              <tr class="text-center">
                <th>Cuenta</th>
                <th>Nombre</th>
                <th>cedula</th>
                <th>Rol</th>
                <th>Operaciones</th>
              </tr>
              <tr ng-repeat=" cuenta in data">
                <td>{{cuenta.username}}</td>
                <td>{{cuenta.usuario.nombre}}</td>
                <td>{{cuenta.usuario.cedula}}</td>
                <td>{{cuenta.usuario.rol.nombre}}</td>
                <td>
                  <div ng-show="showOperation(cuenta)" class="col-sm-12">
                      <button ng-click="openEditarUsuario($index)" class="btn btn-flat btn-default"><i class="fa fa-edit fa-sm"></i>Editar</button>
                      <button ng-click="delete(cuenta.usuario.uuid)" class="btn btn-flat btn-danger"><i class="fa fa-remove fa-sm"></i>Eliminar</button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/ng-template" id="validacionDatos.html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Información de errores de datos</h4>
      </div>
    </div>
    <div class="modal-body">
      <table class="table table-striped">
        <tbody>
        <tr>
          <th>Mensaje</th>
        </tr>
        <tr ng-repeat="error in errorValidation">
          <td>{{error.error}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn btn-flat btn-primary" ng-click="cancelModalError()">Aceptar</button>
    </div>
  </div>
</script>

<script type="text/ng-template" id="crearUsuario.html">
  <form class="form-horizontal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Crear Usuario</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="nombreUsuarioAdmin" class="col-sm-2 control-label">Nombre de Usuario</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newUser.usuario.nombre" class="form-control" id="nombreUsuarioAdmin"
                     placeholder="Digite el nombre completo del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="cedulaUsuarioAdmin" class="col-sm-2 control-label">Cédula</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newUser.usuario.cedula" class="form-control" id="cedulaUsuarioAdmin"
                     placeholder="Digite el número de cédula del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="usernameAdmin" class="col-sm-2 control-label">Nombre de la cuenta</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newUser.username" class="form-control" id="usernameAdmin"
                     placeholder="Digite el nombre de la cuenta de usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="newUser.password" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Confirmar Contraeña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="newUser.passwordValidate" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="rolAdmin" class="col-sm-2 control-label">Rol</label>
            <div class="col-sm-10">
              <select ng-model="newUser.usuario.rol.nombre" class="form-control" id="roldAdmin">
                <option ng-repeat="option in roles" value="{{option.nombre}}">{{option.nombre}}</option>
              </select>

            </div>
          </div>
          <div ng-show="newUser.usuario.rol.nombre=='Otro'" class="form-group">
            <label for="otroAdmin" class="col-sm-2 control-label">Otro Rol</label>
            <div class="col-sm-10">
              <input type="text" ng-model="newUser.usuario.rol.nombreOtro"
                     class="form-control" id="otroAdmin"
                     placeholder="Digite el nombre del nuevo rol">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
        <button class="btn btn-flat btn-primary" ng-click="save()">Aceptar</button>
      </div>
    </div>
  </form>
  </div>
</script>

<script type="text/ng-template" id="editarUsuario.html">
  <form class="form-horizontal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center">Editar Usuario</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="nombreUsuarioAdmin" class="col-sm-2 control-label">Nombre de Usuario</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editUser.usuario.nombre" class="form-control" id="nombreUsuarioAdmin"
                     placeholder="Digite el nombre completo del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="cedulaUsuarioAdmin" class="col-sm-2 control-label">Cédula</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editUser.usuario.cedula" class="form-control" id="cedulaUsuarioAdmin"
                     placeholder="Digite el número de cédula del usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="usernameAdmin" class="col-sm-2 control-label">Nombre de la cuenta</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editUser.username" class="form-control" id="usernameAdmin"
                     placeholder="Digite el nombre de la cuenta de usuario">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Contraseña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="editUser.password" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="passwordAdmin" class="col-sm-2 control-label">Confirmar Contraeña</label>
            <div class="col-sm-10">
              <input type="password" ng-model="editUser.passwordValidate" class="form-control" id="passwordAdmin"
                     placeholder="digite la contraseña">
            </div>
          </div>
          <div class="form-group">
            <label for="rolAdmin" class="col-sm-2 control-label">Rol</label>
            <div class="col-sm-10">
              <select ng-model="editUser.usuario.rol.nombre" class="form-control" id="roldAdmin">
                <option ng-repeat="option in roles" value="{{option.nombre}}">{{option.nombre}}</option>
              </select>
            </div>
          </div>
          <div ng-show="editUser.usuario.rol.nombre=='Otro'" class="form-group">
            <label for="otroAdmin" class="col-sm-2 control-label">Otro Rol</label>
            <div class="col-sm-10">
              <input type="text" ng-model="editUser.usuario.rol.nombreOtro"
                     class="form-control" id="otroAdmin"
                     placeholder="Digite el nombre del nuevo rol">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
        <button class="btn btn-flat btn-primary" ng-click="update()">Aceptar</button>
      </div>
    </div>
  </form>
  </div>
</script>
