<section class="content-header">
  <uib-alert
    ng-repeat="alert in alerts"
    type="{{alert.type}}"
    dismiss-on-timeout="5000"
    close="alerts.splice($index, 1);"
    style=" position: absolute;z-index: 9000;width: 50%;text-align: center;right: 25%;">{{alert.msg}}
  </uib-alert>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Gestión de Datos Del Sistema</h3>
        </div>
        <div class="modal-body text-center">
          <p class="help-block">En esta sección pude realizar la restuaración y almacenamiento
            de toda la información almacenada en el sistema (usuarios, empresas,
            roles, distribuidores, subdistribuidores, canales y puntos de venta).</p>
          <a class="btn btn-app" ng-click="openModalRestore()">
            <i class="fa  fa-download"></i> Realizar Restauración de datos
          </a>
          <a class="btn btn-app" ng-click="openModalBackup()">
            <i class="fa  fa-download"></i> Realizar Backup de Datos
          </a>

        </div>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>

<script type="text/ng-template" id="restore.html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Carga masiva de la información del sistema de gestión de comerciantes</h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="callout callout-info">
        <p><i class="fa fa-info-circle"></i> Solo es permitido la carga de archivos en formato JSON.</p>
      </div>
      <div class="input-group">
        <input type="file" accept=".json" file-model="archivo" class="form-control"/>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-flat btn-danger" ng-click="cancelModal()">Cancelar</button>
      <button class="btn btn-flat btn-primary" ng-disabled="existeFile()" ng-click="restore()">Cargar Archivo
      </button>
    </div>
  </div>
</script>
<script type="text/ng-template" id="backup.html">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-center">Descarga de datos del sitema de gestión de comerciantes</h4>
      </div>
    </div>
    <div class="modal-body text-center">
      <a class="btn btn-app" ng-click="backup()">
        <i class="fa fa-file-code-o"></i> Datos del sistema en formato .JSON
      </a>
    </div>
    <div class="modal-footer">
      <button class="btn btn-flat btn-primary"  ng-click="cancelModal()">Aceptar</button>
    </div>
  </div>
</script>
