<section class="content-header">
  <uib-alert
    ng-repeat="alert in alerts"
    type="{{alert.type}}"
    dismiss-on-timeout="5000"
    close="alerts.splice($index, 1);"
    style=" position: absolute;z-index: 9000;width: 50%;text-align: center;right: 25%;">{{alert.msg}}
  </uib-alert>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Envio de reportes del sistema</h3>
        </div>
        <form role="form">
          <div class="box-body">
            <div class="form-group">
              <label for="tipo">Tipo de reporte</label>
              <select ng-model="reporte.tipo" class="form-control" id="tipo">
                <option value="Sugerencia">Sugerencia</option>
                <option value="Problema">Problema</option>
              </select>
            </div>
            <div class="form-group">
              <label for="observaciones">Observaciones</label>
              <textarea ng-model="reporte.observaciones" class="form-control" rows="4" id="observaciones"
                        placeholder="Ingrese las observaciones del reporte"></textarea>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-primary pull-right" ng-click="save()">Enviar Reporte</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</section>
