<section class="content-header">
  <uib-alert
    ng-repeat="alert in alerts"
    type="{{alert.type}}"
    dismiss-on-timeout="5000"
    close="alerts.splice($index, 1);"
    style=" position: absolute;z-index: 9000;width: 50%;text-align: center;right: 25%;">{{alert.msg}}
  </uib-alert>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Lista de Reportes del Sistema</h3>
        </div>
        <div class="modal-body table-responsive">

          <table class="table table-bordered">
            <tbody>
            <tr class="text-center">
              <th>Usuario</th>
              <th>Empresa</th>
              <th>Tipo</th>
              <th>Observaciones</th>
              <th>Operaciones</th>
            </tr>
            <tr ng-repeat=" reporte in data">
              <td>
                <small>
                  <b>Cuenta : </b> {{reporte.cuentaUsuario}}</br>
                  <b>Nombre : </b> {{reporte.nombreUsuario}}</br>
                  <b>Cédula : </b> {{reporte.cedulaUsuario}}</br>
                  <b>Rol : </b> {{reporte.rolUsuario}}</br>
                </small>
              </td>
              <td>
                <small>
                  <b>Nombre : </b> {{reporte.nombreEmpresa}}</br>
                  <b>NIT : </b> {{reporte.nitEmpresa}}</br>
                  <b>Teléfono : </b> {{reporte.telefonoEmpresa}}</br>
                  <b>Tipo : </b> {{reporte.tipoEmpresa}}</br>
                </small>
              </td>
              <td>{{reporte.tipo}}</td>
              <td>{{reporte.observaciones}}</td>
              <td>
                <button type="button" ng-click="delete(reporte.uuid)" class="btn btn-flat btn-danger">Eliminar Reporte
                </button>
              </td>
            </tr>
            </tbody>
          </table>

        </div>

      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</section>
