

<div class=" login-page">
  <section class="content-header">
    <uib-alert
      ng-repeat="alert in alerts"
      type="{{alert.type}}"
      dismiss-on-timeout="5000"
      close="alerts.splice($index, 1);"
      style=" position: absolute;z-index: 9000;width: 50%;text-align: center;right: 25%;">{{alert.msg}}
    </uib-alert>
  </section>
  <div class="login-box ">
    <!--<div class="login-logo">-->
    <!--<a href="/index.html"><img src="images/Logo-vertical.png" alt=""></a>-->
    <!--</div>-->
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">
        <strong>Bienvenidos</strong>
        </br>
        Al sistema de administración de comerciantes
        </br>
        <strong>Ingrese a su cuenta</strong>
      </p>

      <form name="loginForm" ng-submit="submitForm(loginForm)" novalidate>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" ng-model="model.username" placeholder="Usuario" required>
          <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" ng-model="model.password" placeholder="Contraseña" required>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-xs-12">
            <button type="submit" class="btn btn-success btn-block btn-flat">Ingresar</a></button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.login-box-body -->
  </div>
  <!-- /.login-box -->
</div>
